.my_account{
	margin-top:$grid-gutter-width;
}

.tab_box{
	border:1px solid $color_tab_border;
	box-shadow: 0 0 $grid-gutter-width $grid-gutter-width/10 $color_box_shadow;
	margin:0 $grid-gutter-width/2;
}
.tab_box header ul{
	@extend .list-unstyled;
	@extend .list-inline;
	background: $color_tab_header;
	margin:0;
	padding:0;

	li{
		margin:0;
		padding:0;
	}

	a{
		display: block;
		color: $color_tab_button;
		padding: $grid-gutter-width*.8 $grid-gutter-width;

		&:hover{
			text-decoration: none;
		}
	}
	.active a{
		background:$color_white;
		color: $color_dark2;
		font-weight: 700;
	}
}

.tab_box article{
	padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width/2 $grid-gutter-width;
}