.productdetail .container {
	margin-top: 25px;
	
	h1 {
		@include make-col();
		@include make-col-span(12);
		
		font-size: 24px;
		color: $color_brand;
		font-weight: 700;
		margin: 0;
	}
	
	.product-image {
		@include make-col();
		@include make-col-span(7.5);
		margin-top: $grid-gutter-width;
		
		img {
			max-width: 100%;
		}

		@media (max-width: $screen-sm-max){
			@include make-col-span(12);
		}
	}
	.product-sum {
		@include make-col();
		@include make-col-span(4.5);
		margin-top: $grid-gutter-width;

		@media (max-width: $screen-sm-max){
			@include make-col-span(12);
		}
		
		p {
			color: $color_dark2;
			font-size: 16px;
			line-height: 26px;
			font-weight: 300;
			margin-bottom: 10px;
		}
		
		.price {
			font-size: 24px;
			font-weight: 700;
			color: $color_dark2;
		}
	}
	
	.stock {
		float: right;
		font-size: 14px;
		line-height: 24px;
		margin: 6px 0;
		font-weight: 600;
		color: $color_dark2;
		
		&.available:before {
			display: block;
			content: "";
			width: 34px;
			height: 14px;
			line-height: 24px;
			background: #78d274;
			margin: 6px 13px 6px 0;
			float: left;
		}
		&.limited:before {
			display: block;
			content: "";
			width: 34px;
			height: 14px;
			line-height: 24px;
			background: #78d274;
			margin: 6px 13px 6px 0;
			float: left;
			box-shadow: inset -11px 0 $color_tab_border;
		}
		&.out-of-stock:before {
			display: block;
			content: "";
			width: 34px;
			height: 14px;
			line-height: 24px;
			background: $alert-danger-text;
			margin: 6px 13px 6px 0;
			float: left;
		}
	}
	
	.gallery {
		ul {
			@extend .list-unstyled;
			@include make-row(10px);
			
		}
		
		li {
			@include make-col(10px);
			@include make-col-span(3);
		}
		
		a {
			display: block;
			height: 70px;
			padding: 15px;
			border: 1px solid lighten($color_light3,10%);
			text-align: center;
		}
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	.addtocart {
		display: block;
		width: 100%;
		border-radius: 3px;
		border: none;
		border-bottom: 2px solid darken($color_brand, 10%);
		background: $color_brand;
		color: $color_white;
		font-size: 15px;
		line-height: 18px;
		font-weight: 600;
		text-align: left;
		padding: 11px 19px 9px 19px;
		margin-top: 15px;
		
		&:after {
			display: block;
			background: url(../images/cart_prod-icon.svg) no-repeat left top;
			content: "";
			width: 21px;
			height: 19px;
			color: $color_white;
			float: right;
		}
		
		&:hover {
			background: darken($color-brand,10%);
			border-bottom: 2px solid $color_black;
		}

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			font-size:14px;
		}
	}
	
	.product-info {
		@include make-col();
		@include make-col-span(12);
		margin-top: $grid-gutter-width*1.5;
		
		.tab_box {
			margin: 0;
		}
	}
	
	.product-upsell {
		@include make-col();
		@include make-col-span(12);
		margin-top: $grid-gutter-width*1.5;
		
		h3 {
			color: $color_brand;
			font-size: 24px;
			font-weight: 600;
			margin: 0;
		}
	}
	
	.zoom {
		position: relative;
		display: block;
		margin-bottom: $grid-gutter-width;
		
		&:before {
			@extend .fa;
			content: "\f00e";
			color: $color_brand;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&:after {
			display: block;
			content: "Vergroten";
			color: $color_brand;
			font-size: 15px;
			line-height: 15px;
			position: absolute;
			bottom: 0;
			left: 20px;
		}
	}
}