$color_black: 	#000;
$color_dark1: 	#323741;
$color_dark2: 	#3f4654;
$color_light: 	#eee;
$color_light2: 	#bfc2c8;
$color_light3: 	#bbb;
$color_white: 	#fff;
$color_brand: 	#659135;
$color_body: 	#0e0e0e;
$color_menu_active: #23252b;
$color_form_input: #585f6d;
$color_form_input_light: #f0f0f0;
$color_search_button: #4a505d;
$color_home_about: rgba(63, 70, 84, 0.9);
$color_breadcrumb_separator: #c0c0c0;
$color_prod_header_border: #efefef;
$color_tab_header: #f6f6f6;
$color_tab_border: #e5e5e5;
$color_tab_button: #7f7f7f;
$color_box_shadow: rgba(0,0,0,.06);
$color_warning: #B81C23;


$screen-xs-min: 0;
$screen-xs-max: 33.99em;
$screen-sm-min: 34em;
$screen-sm-max: 47.99em;
$screen-md-min: 48em;
$screen-md-max: 61.99em;
$screen-lg-min: 62em;
$screen-lg-max: 74.99em;
$screen-xl-min: 75em;